.cardInformation {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media screen and (max-width: 902px) {
  .cardInformation {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
}
