.sidebar {
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #162456;
  border-right: 2px solid #ccc;
  transition: 300ms;
}

.sidebar.active {
  min-width: none;
  width: 300px;
  transition: 500ms;
}

.headerContainer {
  display: flex;
  padding-block: 0.5rem;
  font-size: 1.5rem;
  height: 80px;
  align-items: center;
  color: white;
}

.logo {
  width: 80px;
}

.sidebarTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: 1rem;
}

.sidebarItemText {
  padding-inline: 16px;
  padding-block: 12px;
  font-weight: 600;
  cursor: pointer;
  background-color: oklch(0.987 0.022 95.277);
  border-radius: 8px;
  text-overflow: clip;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
}

.sidebarIconsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding-top: 0.75rem;
  color: white;
}

.sidebarItemIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 70px;
    transition: 300ms;
  }
  
  .sidebar.active {
    min-width: none;
    width: 250px;
    transition: 500ms;
  }

  .logo {
    width: 70px;
  }
}

@media screen and (max-width: 512px) {
  .sidebar {
    width: 50px;
    transition: 300ms;
  }

  .sidebar.active {
    min-width: none;
    width: 150px;
    transition: 500ms;
  }

  .headerContainer {
    padding-block: 0;
    height: 50px;
    margin-top: 0.5rem;
    font-size: 0.5rem;
  }

  .logo {
    width: 50px;
  }

  .sidebarTextContainer {
    gap: 0.75rem;
    margin-inline: 0.75rem;
  }

  .sidebarItemText {
    padding-inline: 12px;
    padding-block: 8px;
    font-weight: 600;
    cursor: pointer;
    background-color: oklch(0.987 0.022 95.277);
    border-radius: 8px;
    text-overflow: clip;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
  }

  .sidebarIconsContainer {
    gap: 1.75rem;
  }

  .sidebarItemIcon {
    font-size: 1.25rem;
  }
}
